{# templates/design.html #}
<!DOCTYPE html>
<html>
<head>
    <title>Design of a Diffraction Phase Microscope</title>
</head>
<body>

    <h1>Diffraction Phase Microscope - Design Document</h1>

    <h2>Inputs</h2>
    <table>
        <tr>
            <th>Component</th>
            <th>Property</th>
            <th>Value</th>
            <th>Units</th>
        </tr>
        <tr>
            <td>Objective</td>
            <td>Magnification</td>
            <td>{{ data["objective.magnification"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Objective</td>
            <td>Numerical Aperture</td>
            <td>{{ data["objective.numerical_aperture"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Camera</td>
            <td>Pixel size</td>
            <td>{{ data["camera.pixel_size"] }}</td>
            <td>{{ data["camera.pixel_size.units"] }}</td>
        </tr>
        <tr>
            <td>Camera</td>
            <td>Number of pixels (horizontal)</td>
            <td>{{ data["camera.horizontal_number_of_pixels"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Camera</td>
            <td>Number of pixels (vertical)</td>
            <td>{{ data["camera.vertical_number_of_pixels"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Light source</td>
            <td>Wavelength</td>
            <td>{{ data["light_source.wavelength"] }}</td>
            <td>{{ data["light_source.wavelength.units"] }}</td>
        </tr>
        <tr>
            <td>Grating</td>
            <td>Period</td>
            <td>{{ data["grating.period"] }}</td>
            <td>{{ data["grating.period.units"] }}</td>
        </tr>
        <tr>
            <td>Fourier lens 1</td>
            <td>Focal length</td>
            <td>{{ data["lens_1.focal_length"] }}</td>
            <td>{{ data["lens_1.focal_length.units"] }}</td>
        </tr>
        <tr>
            <td>Fourier lens 1</td>
            <td>Clear aperture</td>
            <td>{{ data["lens_1.clear_aperture"] }}</td>
            <td>{{ data["lens_1.clear_aperture.units"] }}</td>
        </tr>
        <tr>
            <td>Fourier lens 2</td>
            <td>Focal length</td>
            <td>{{ data["lens_2.focal_length"] }}</td>
            <td>{{ data["lens_2.focal_length.units"] }}</td>
        </tr>
        <tr>
            <td>Fourier lens 2</td>
            <td>Clear aperture</td>
            <td>{{ data["lens_2.clear_aperture"] }}</td>
            <td>{{ data["lens_2.clear_aperture.units"] }}</td>
        </tr>
    </table>

    <h2>Calculated Properties</h2>
    <table>
        <tr>
            <th>Property</th>
            <th>Value</th>
            <th>Units</th>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>{{ results["resolution"] }}</td>
            <td>{{ results["resolution.units"] }}</td>
        </tr>
        <tr>
            <td>Camera diagonal size</td>
            <td>{{ results["camera_diagonal"] }}</td>
            <td>{{ results["camera_diagonal.units"] }}</td>
        </tr>
        <tr>
            <td>Maximum grating period</td>
            <td>{{ results["maximum_grating_period"] }}</td>
            <td>{{ results["maximum_grating_period.units"] }}</td>
        </tr>
        <tr>
            <td>Minimum NA of Fourier lens 1</td>
            <td>{{ results["minimum_lens_1_na"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Actual NA of Fourier lens 1</td>
            <td>{{ results["lens_1_na"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Actual NA of Fourier lens 2</td>
            <td>{{ results["lens_2_na"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Maximum pinhole diameter</td>
            <td>{{ results["maximum_pinhole_diameter"] }}</td>
            <td>{{ results["maximum_pinhole_diameter.units"] }}</td>
        </tr>
    </table>

</body>
</html>
